/* nav css */
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.nav-bar button{    
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);;
}
.Bangladesh{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
}
/* hover */
.hover-btn:hover{
    background-color: rgb(198, 228, 214);;
}