/* font */
.open-sans-font {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav css */
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items:center;

}
.nav-bar button{    
    
    border: 1px solid rgb(0, 106, 80);   
    color: rgb(0, 106, 80);;
}
.Bangladesh{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
}
/* hover */
.btn-style:hover{
    background-color: rgb(198, 228, 214);;
}
/* button syles*/
.btn-style{
    padding: 15px 30px;
    border-radius: 8px;
    box-sizing: border-box;
}
/* imgae-hero positioning */
/* first time i use right-bottom but it won't work and set position absolute but it's not work. then i search it copilot and i find the solution. I don't copy there code i tried myself */
.left-top{
    position: relative;
    left: 59.99px;
    top: 80px;
}
/* 1st banner */
.first-part{
    display: flex;
    flex-direction: row;
    justify-items:end;
    background-color: #C6E4D6;
    padding: 80px 100px;
    border: 20px 40px 80px 30px;
    border-radius:24px ;
    height: 560px;
    width: 1280px; 
}
.first-section{
   margin: 20px 160px 80px 200px;
   
   
}
/* text part */
.text-part p{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font: weight 200px;;
}
.text-part h3{
    color: rgba(14, 14, 14, 1);
    font-size: 56px;
    font-weight: 700;
}
.new-bangladesh{
    background-color: #006A50;
    color: #FFFFFF;
    width: 270px;
    height: 56px;
    border-radius: 8px;
}
/* cards */
.cards-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.card-1{
    background-color: rgba(84, 144, 245, 0.2);

}
.card-2{
    background-color: rgba(198, 228, 214, 1);
}
.card-3{
    background-color: rgba(247, 235, 207, 1);
}
.card{
    border: 1px ;
    border-radius: 16px;
    padding: 32px 32px;
    word-wrap: break-word;
    
}
.button-1{
    background-color: rgba(84, 144, 245, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
}
.button-2{
    background-color: rgba(9, 161, 92, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
}
.button-3{
    background-color:rgba(255, 194, 57, 1) ;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
}
/* font initialize */
div h3{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
}
.bold{
    color: rgba(14, 14, 14, 0.7);
    font-size: 20px;
    font-weight: 700;
}
.bold{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700px;
}
.regular{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.second-part{
    height: 765px;
    width: 1280px;
}
.second-section{
    margin: 20px 160px 80px 200px;
}
/* quote */
.block-quote{
    height:256px;
    width: 1280px;
    display: flex;
    justify-content: center;
    background-image:url('../images/assets/quote-bg.png');
    background-repeat: no-repeat;
    align-items: center;
    margin-top: 20px;
    border: 1px ;
    border-radius: 16px;
    padding: 48px 24px;
    background-color: rgba(255, 255, 255, 1);
}
.quote{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.8);
}
.Yunus-sir{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600px;
}
.adviser{
    color: rgba(14, 14, 14, 0.6);
}
/* third-part */
.common{
    display: flex;
    flex-direction: row;
    margin: 20px 160px 80px 200px;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 1280px;
}
.recent-news{
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
}
.bangladesh-aim{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
/* input[read-only] */
input[readonly]{
    border: none;
    font-size: 16px;
    font-weight: 400;
}
/* third-2 */
.third-2{
    display: flex;
    margin: 20px 160px 80px 200px;
    justify-content: center;
    align-items: center;
    height: 402px;
    width: 1280px;
    gap: 32px;
    background-color: #FFFFFF;
}
.satelite-photo{  
    border-radius: 24px;
    position:relative;
    right: 0px;
    top: 30px;
}
/* read-more button */
.read-more{
    color: #FFFFFF;
    background-color: rgba(0, 106, 80, 1);
    height: 48px;
    width: 139px;
    padding: 13px 26px;
    font-weight: 600;
}
/* The final hour is near */
.doante-box{
    display: flex;
    margin: 20px 160px 80px 200px;
    height: 464px;
    width: 1280px;
    justify-content: center;
    align-items: center;
    gap: 999px;
}
.donate{
    text-align: center;
    color: rgba(14, 14, 14, 1);
    font-size: 40px;
    font-weight: 700;
}
.donate-p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
/* tk-btn */
.tk-btn-2{
    height: 128px;
    width: 240px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700px;
    border: none;
}
.tk-btn{
    display: flex;
    justify-content: space-between;
    /* height: 128px;
    width: 240px; */
    padding: 40px 40px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 32px;
    margin-bottom: 32px;
}
/* other-amount */
.other-amount{
    font-size: 20px;
    text-align: center;
    height: 64px;
    width: 1032px;
    border: none;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 32px;
    margin-bottom: 32px;
}
.amount{
    margin-top: 32px;
    margin-bottom: 32px;
}
/* donate-now-btn */
.donate-now-btn{
    text-align: center;
}
.donate-now{
    width: 151px;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    color: #FFFFFF;
    background-color: rgba(0, 106, 80, 1);
    border-radius: 8px;
    
    
}
/* footer */
.ft{
    height: 395px;
    width: 1280px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    margin: 20px 160px 80px 200px;
    padding: 80px 100px;
    text-align: center;
    background-color: rgba(198, 228, 214, 1);
    gap: 500px;
}
.newsletter{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
    word-wrap:break-word;
}
.newsletter{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.subscribe input{
    height: 55px;
    width: 600px; 
    padding: 18px 40;
    border: none;
    border-radius: 10px 0px 0px 10px;
    color: rgba(14, 14, 14, 0.3);
    row-gap: 0px;
}
.subscribe button{
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    height: 61px;
    width: 150px;
    padding: 17px 34px; 
    border: none;
    border-radius: 0px 10px 10px 0px;
    text-align:center;
    row-gap: 0px;
}
